@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Stalinist+One&display=swap');

:root{
    --rich-black: #000814ff;
--oxford-blue: #001d3dff;
--yale-blue: #003566ff;
--mikado-yellow: #ffc300ff;
--titulo: "Stalinist One", sans-serif;
--texto: "Audiowide", sans-serif;
}
body{
   background-color: var(--rich-black);
   font-family: var(--titulo);
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;

}
main{
    margin-top: 20px;
    max-width: 800px;
    text-align: center;
}
button{
    font-family: var(--titulo);
    background-color: var(--yale-blue);
    color: var(--mikado-yellow);
    border: 2px solid var(--yale-blue);
    padding: 30px 40px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 20px;
    font-size: 25px;
}
button:hover{
    background-color: var(--mikado-yellow);
    color: var(--yale-blue);
    transition: 1s;
}

.passo{
    font-size: 30px;
    display: none;
}

.passo.ativo{
    display: block;
}