@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Stalinist+One&display=swap');

:root {
    --rich-black: #000814ff;
    --oxford-blue: #001d3dff;
    --yale-blue: #003566ff;
    --mikado-yellow: #ffc300ff;
    --titulo: "Stalinist One", sans-serif;
    --texto: "Audiowide", sans-serif;
}

body {
    background-color: var(--rich-black);
    font-family: var(--titulo);
    color: var(--yale-blue);

}

main {
    margin-top: 30px;
    max-width: 90%;
    text-align: center;
}

button {
    font-family: var(--titulo);
    background-color: var(--mikado-yellow);
    color: var(--rich-black);
    border: 2px solid var(--mikado-yellow);
    padding: 20px 30px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

button:hover {
    background-color: var(--laranja);
    color: var(--azul);
    transition: 1s;
}

.passo {
    font-size: 24px;
    display: none;
}

.passo.ativo {
    display: block;
}
