@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Stalinist+One&display=swap');

:root {
    --rich-black: #000814ff;
    --oxford-blue: #001d3dff;
    --yale-blue: #003566ff;
    --mikado-yellow: #ffc300ff;
    --titulo: "Stalinist One", sans-serif;
    --texto: "Audiowide", sans-serif;
}

body {
    background-color: var(--rich-black);
    font-family: var(--titulo);
    color: var(--yale-blue);

}

main {
    margin-top: 90px;
    max-width: 1000px;
    width: 50%
    text-align: center;
}

button {
    font-family: var(--titulo);
    background-color: var(--mikado-yellow);
    color: var(--rich-black);
    border: 2px solid var(--mikado-yellow);
    padding: 20px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 10px;
    font-size: 10px;
}

button:hover {
    background-color: var(--laranja);
    color: var(--yale-blue);
    transition: 0.5s;
}
.passo{
    font-size: 30px;
    display: none;
}

.passo.ativo{
    display: block;
}
