@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Stalinist+One&display=swap');

:root{
    --rich-black: #000814ff;
--oxford-blue: #001d3dff;
--yale-blue: #003566ff;
--mikado-yellow: #ffc300ff;
--titulo: "Stalinist One", sans-serif;
--texto: "Audiowide", sans-serif;
}